<% layout('layouts/boilerplate.ejs') %>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">
            <%= err.message %>
        </h4>
        <p>
            <%= err.stack %>
        </p>
    </div>