<% layout('layouts/boilerplate.ejs') %>
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">
            <%= err.message %>
        </h4>
        <p>
            <% if (process.env.NODE_ENV !=="production" ) {%>
                <%= err.stack %>
                    <% } %>
        </p>
    </div>