<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center">New Campground</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="post" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="title">Name:</label>
                    <input class="form-control" type="text" id="title" name="campground[title]" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location:</label>
                    <input class="form-control" type="text" id="location" name="campground[location]" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label"></label>
                    <div class="input-group ">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input type="text" class="form-control" placeholder="0.0" aria-label="price"
                            aria-describedby="basic-addon1" id="price" name="campground[price]" required>
                        <div class="valid-feedback">
                            Looks good !
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="img">Image:</label>
                    <input class="form-control" type="text" id="img" name="campground[img]"
                        value="http://source.unsplash.com/collection/484351" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description:</label>
                    <textarea class="form-control" type="text" id="description" name="campground[description]"
                        required></textarea>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">submit</button>
                </div>
            </form>
            <a href="/campgrounds">Back</a>
        </div>
    </div>