<% layout('layouts/boilerplate.ejs') %>

    <div class="row">
        <h1 class="text-center">Register</h1>
        <div class="col-6 offset-3">
            <form action="/register" method="post" novalidate class="validated-form">
                <div class="mb-3">
                    <label class="form-label" for="username">Username:</label>
                    <input class="form-control" type="text" id="username" name="username" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="email">Email:</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="password">Password:</label>
                    <input class="form-control" type="password" id="password" name="password" required>
                    <div class="valid-feedback">
                        Looks good !
                    </div>
                </div>
                <button class="btn btn-primary">Register</button>
            </form>
        </div>
    </div>